{% extends "layout.html" %}
{% block subpage %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Choose Your Campaign</h1>
						<p>Pick one of our supported campaigns!</p>
					</header>
{% endblock %}

{% block page_content %}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <form method="POST">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Campaign Name </label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">State That You are Located In </label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                        <div class="col-2">
                        <div class="input-group">
                            <label class="label">Target Audience</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>Senators</option>
                                    <option>House of Representatives</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                            </div>
                        </div>
                            <div class="col-2">
                        <div class="input-group">
                            <label class="label">Field</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>Climate</option>
                                    <option>Social Justice</option>
                                    <option>Education</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                                </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit"><a href="{{ url_for('dashboard') }}">Submit</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
                </div>
            </section>

{% endblock %}